html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100%;
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color:transparent;
  border-radius: 8px;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
